* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}
body {
  background-color: lightslategray;
}

#game {
  width: 800px;
  height: 500px;
  border: 2px solid black;
  position: relative;
  background-color: lightskyblue;
  z-index: -2;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.5);
}

.game-over {
  opacity: 0;
  background-color: lightgray;
  z-index: 100;
  width: 80rem;
  height: 50rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.game-over.active {
  opacity: 0.7;
}

.over-text {
  font-size: 5rem;
  color: red;
}

#obstacle {
  position: absolute;
  top: 468px;
  left: 768px;
  height: 30px;
  width: 30px;
}

#obstacle.move {
  animation-name: slide;
  animation-iteration-count: infinite;
  animation-timing-function: ease;
  animation-duration: 1.5s;
}

#character {
  height: 50px;
  width: 50px;
  position: absolute;
  top: 448px;
}

#character.jump {
  animation-name: jump;
  animation-iteration-count: infinite;
  animation-timing-function: ease;
  animation-duration: 1s;
}

#ship {
  position: absolute;
  width: 150px;
  height: 150px;
  transform: rotateY(180deg);
  top: 295px;
  left: 640px;
  opacity: 0.3;
}

#cloud1 {
  position: absolute;
  height: 100px;
  width: 150px;
  top: 0;
  left: 640px;
}

#cloud1.cloud1-animated {
  animation-delay: 1s;
  animation-duration: 5s;
  animation-name: cloud-slide;
  animation-iteration-count: infinite;
}

#cloud2 {
  position: absolute;
  height: 80px;
  width: 130px;
  top: 100px;
  left: 660px;
}

#cloud2.cloud2-animated {
  animation-delay: 0.7s;
  animation-duration: 4.5s;
  animation-name: cloud-slide;
  animation-iteration-count: infinite;
}

.ground {
  z-index: -1;
  background-color: lightgreen;
  position: absolute;
  width: 796px;
  height: 60px;
  top: 436px;
}

.jump-btn {
  font-size: 4rem;
  background-color: blue;
  color: white;
  padding: 1rem 3rem;
  margin: 2rem 2rem 2rem 26rem;
  border-radius: 7px;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);
  text-align: center;
  width: 26rem;
}

.playagain-btn {
  font-size: 4rem;
  background-color: red;
  color: white;
  padding: 1rem 3rem;
  margin: 2rem 2rem 2rem 26rem;
  border-radius: 7px;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);
  text-align: center;
  width: 26rem;
}

.btn:active {
  transform: scale(0.98);
}

@keyframes slide {
  0% {
    left: 768px;
  }
  30% {
    left: 500px;
  }
  70% {
    left: 250px;
  }
  100% {
    left: 0px;
  }
}

@keyframes jump {
  0% {
    top: 448px;
  }
  50% {
    top: 350px;
  }
  100% {
    top: 448px;
  }
}

@keyframes cloud-slide {
  0% {
    left: 640px;
  }

  100% {
    left: -150px;
  }
}
